.plot {
    stroke: black;
    fill: none;
}

.plotter-view, .sidebar {
    height: 100vh;
    box-sizing: border-box;
    padding: 2vh;
    display: inline-block;
    vertical-align: top;
}

.plotter-view {
    width: 80%;
}

.plotter-outline {
    stroke: #888;
    stroke-width: 5;
    fill: white;
}

.sidebar {
    width: 20%;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin-top: 5px;
}

.custom-size {
    margin-top: 10px;
    margin-left: 10px;
}

.custom-size .react-numeric-input {
    width: 45%;
}

.react-numeric-input input {
    width: 100%;
    text-align: right;
}
